<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title></title>
	<link href="" rel="stylesheet">
	<style>

		.axis--x path {
			display: none;
		}

		.line {
			fill: none;
			stroke: steelblue;
			stroke-width: 1.5px;
		}

	</style>
</head>
<body>

	<div>
		<a href="/">&lt;- channel list</a>
	</div>

	<br>

	<div>
		{{ name }}
	</div>

	<ul>
		{{#each blocks}}
			<li>{{ start }} - {{ duration }} - {{ game }}</li>
		{{/each}}
	</ul>


</html>